<!DOCTYPE html>
<html>
<head>
  <title>鸿立的日常积累</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: 'Open Sans', sans-serif; 
      margin: 0;
      padding: 20px;
      background-color: #f0f0f0; 
    }

    h1 {
      text-align: center;
      margin-bottom: 40px;
      color: #333;
      font-size: 2.5rem; /* Increased heading size */
    }

    article {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 40px;
      margin-bottom: 50px;
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (max-width: 768px) {  
        article {  
            padding: 20px;
        }  
    }

    h2 {
      color: #333;
      margin-bottom: 20px;
      font-size: 1.8rem; /* Increased heading size */
    }

    p {
      color: #666;
      line-height: 1.7;
      font-size: 1.1rem; /* Slightly increased font size */
    }

    a {
      color: #007bff;
      text-decoration: none;
      font-weight: bold; /* Added bold for emphasis */
    }

    a:hover {
      text-decoration: underline;
    }
    .slogan {
	text-align: center
    }
  </style>
</head>
<body>

  <h1>鸿立的日常积累</h1>
  <p class="slogan">永远年轻、永远热泪盈眶</p>
  <% list.forEach(function(item){ %>
    <article>
      <h2><%- item.title %> </h2>
      <p><%- item.description %></p>
      <p>Read more <a href="/article/<%- item.id %>.html">here</a></p>
    </article>
  <% }) %>


</body>
</html>
